.navbar{
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 3px -2px black;
  padding: 15px 0;
}
.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo p{
  color: #f1356d;
  font-size: 30px;
  font-weight: 600;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #262626;
  font-size: 18px;
  font-weight: 400;
}
.cart-icon{
  height: 25px;
}
.bx-search{
  font-size: 24px;  
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-menu hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #f1356d;
}
.nav-search-cart{
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}
.nav-search-cart button{
  background-color: white;
  border: none;
  cursor: pointer;
}
.nav-menu li:hover{
  color: #f1356d;
}
.nav-search-cart .bx-search:hover{
  color: #f1356d;
  width: 27px;
}
.cart-icon:hover{
  background-color: #f1356d;
  width: 27px;
}
.nav-cart-count{
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -45px;
  border-radius: 11px;
  font-size: 14px;
  background-color: #f1356d;
}

