.related-products{
  align-items: center;
  gap: 10px;
}
.related-products h1{
  color: #171717;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
.related-products hr{
  width: 300px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
  margin-left: auto;
  margin-right: auto;
}
.related-product{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.related-and-arrows{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.related-and-arrows button{
  display: relative;
  background-color: #d64671;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  margin: 0 50px;
}
.slick-dots {
  position: static; /* Ensure dots are not positioned absolutely */
  bottom: 0; /* Align dots to the bottom */
  margin-right: 1000px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #007bff;
}