.adminProfile {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.adminProfile-container {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.adminProfile-container h1 {
  color: #333;
  margin-bottom: 20px;
  
}

.adminProfile-container div {
  margin-bottom: 10px;
}

form {
  max-width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004094;
}
