.users {
  display: flex;
  min-height: 100vh;
}

.userContainer {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
  width: 70%;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse; 
  background-color: #fff; 
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); 
  text-align: left;
  margin-bottom: 20px; 
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px 20px; 
}

th {
  background-color: #007BFF; 
  color: white; 
  text-transform: uppercase; 
}

tr:last-child td {
  border-bottom: none;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  color: #fff;
  background-color: #007BFF; 
  border: none;
  border-radius: 4px; 
  margin-right: 10px; 
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #0056b3; 
}

button:active {
  transform: scale(0.98); 
}