

.deliveryContainer {
    padding: 20px;
    background-color: white;
    max-width: 1200px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.title {
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

h1 {
    color: #444;
    font-size: 1.25em;
    margin-top: 20px;
}

p {
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

.titletb {
    background-color: #f9f9f9;
    font-weight: bold;
}

.fee {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

strong {
    color: #333;
}

.notice {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-left: 5px solid #ffeb3b;
}

.notice p {
    margin: 0;
    padding: 0;
    color: #666;
}

.notice strong {
    color: #333;
}
