.shopping {
    padding-left: 50px;
    padding-right: 50px;
}
h1 {
    color: gray;
    font-size: 25px;
}
.cach {
    padding-bottom: 10px;
}
.title {
    padding-bottom: 10px;
}
p {
    padding-bottom: 10px;
}
#luuy {
    color: red;
}