.item-ipad{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px 20px 60px 20px;
    width: 300px;
    transition: width 0.3s ease;
    height: 100%;
  }
  .item-ipad img{
    width: 70%;
    height: 80%;
    object-fit: cover;
    margin-right: 45px;
    background-color: transparent;
    mix-blend-mode: multiply;
  }
  .item-ipad h4{
    color: #2c2c2c;
    margin: 6px 0px;
  }
  .item-ipad-prices{
    display: flex;
    gap:20px;
  }
  .item-ipad-price-new{
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 600;
  }
  .item-ipad-price-old{
    color: #8c8c8c;
    font-size:18px;
    font-weight: 500;
    text-decoration: line-through;
  }
  .item-ipad:hover {
    border-color: #333; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  .ipad-storage-options {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  .ipad-storage-options button {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .ipad-storage-options button.selected {
    background-color: #a5a6a7;
    color: white;
    border-color: #cfcfcf;
  }
  .ipad-storage-options button:hover {
    background-color: #f0f0f0;
  }
  .ipad-color-options {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .ipad-color-options button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ipad-color-options button.xanh-duong {
    background-color: #77a9de;
  }
  
  .ipad-color-options button.bac {
    background-color: #a0a0a0;
  }
  
  .ipad-color-options button.kem {
    background-color: #f4f8c4;
  }
  
  .ipad-color-options button.selected {
    border: 3px solid #333; /* Hiển thị nút được chọn */
  }