.item-iphone{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px 20px 60px 20px;
  width: 300px;
  transition: width 0.3s ease;
  height: 100%;
}
.item-iphone img{
  width: 70%;
  height: 80%;
  object-fit: cover;
}
.item-iphone h4{
  color: #2c2c2c;
  margin: 6px 0px;
}
.item-iphone-prices{
  display: flex;
  gap:20px;
}
.item-iphone-price-new{
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 600;
}
.item-iphone-price-old{
  color: #8c8c8c;
  font-size:18px;
  font-weight: 500;
  text-decoration: line-through;
}
.item-iphone:hover {
  border-color: #333; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.iphone-storage-options {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.iphone-storage-options button {
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.iphone-storage-options button.selected {
  background-color: #a5a6a7;
  color: white;
  border-color: #cfcfcf;
}
.iphone-storage-options button:hover {
  background-color: #f0f0f0;
}
.iphone-color-options {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.iphone-color-options button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.iphone-color-options button.xanh-duong {
  background-color: #224366;
}

.iphone-color-options button.trang {
  background-color: #f7fddd;
}

.iphone-color-options button.xanh-la {
  background-color: #c4f9d1;
}

.iphone-color-options button.hong {
  background-color: #f89fcc;
}

.iphone-color-options button.selected {
  border: 3px solid #333; /* Hiển thị nút được chọn */
}
